{% extends "base.html" %}

{% if user %}
    {% set page_title = 'Edit user' %}
{% else %}
    {% set page_title = 'New user' %}
{% endif %}

{% block title %}{{ page_title }} - Chore Tracker{% endblock %}

{% block content %}
<h1>{{ page_title }}</h1>
<form method="post" class="form">
    <label>
        <span>Username</span>
        <input type="text" name="username" value="{{ user.username if user else '' }}">
    </label>
    <label>
        <span>New Password</span>
        <input type="password" name="password" autocomplete="new-password">
    </label>
    <label>
        <span>New PIN</span>
        <input type="password" name="pin" pattern="\d*" autocomplete="off">
    </label>
    <label class="checkbox">
        <input type="checkbox" name="iam" {% if user and 'iam' in user.permissions %}checked{% endif %}>
        <span>Can manage users</span>
    </label>
    <p>Leave password or PIN blank to keep the existing value.</p>
    <button type="submit">Save</button>
</form>
{% endblock %}
