{% extends "base.html" %}

{% block title %}{{ user.username }} - Chore Tracker{% endblock %}

{% block content %}
<h1>{{ user.username }}{% if current_user == user.username or user_has(current_user, 'iam') %}<a href="{{ url_for('edit_user', username=user.username) }}" class="icon-button"><img src="{{ url_for('static', path='pen.svg') }}" alt="Edit" class="icon"></a>{% endif %}</h1>

<h2>Completions</h2>
<ul>
    {% for entry, comp, has_note in completions %}
    <li><a href="{{ url_for('view_time_period', entry_id=comp.entry_id, recurrence_id=comp.recurrence_id, iindex=comp.instance_index) }}">{{ entry.title }}{% if has_note %}<span class="note-marker">*</span>{% endif %} {{ comp.completed_at|format_datetime(True) }}</a></li>
    {% else %}
    <li>No completions found.</li>
    {% endfor %}
</ul>

<h2>Responsible</h2>
<ul>
    {% for entry in responsible_entries %}
    <li><a href="{{ url_for('view_calendar_entry', entry_id=entry.id) }}">{{ entry.title }}</a></li>
    {% else %}
    <li>No calendar entries.</li>
    {% endfor %}
</ul>

<h2>Manages</h2>
<ul>
    {% for entry in managed_entries %}
    <li><a href="{{ url_for('view_calendar_entry', entry_id=entry.id) }}">{{ entry.title }}</a></li>
    {% else %}
    <li>No calendar entries.</li>
    {% endfor %}
</ul>
{% endblock %}
